{
    "openapi": "3.0.1",
    "info": {
        "title": "Criteo API",
        "description": "Criteo API - MarketingSolutions",
        "version": "MCP"
    },
    "servers": [
        {
            "url": "https://api.criteo.com"
        }
    ],
    "paths": {
        "/mcp/advertisers/me": {
            "get": {
                "tags": [
                    "Advertiser"
                ],
                "description": "Fetch the portfolio of Advertisers for this account",
                "operationId": "GetPortfolio",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetPortfolioResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "type": "advertiser",
                                            "id": "13",
                                            "attributes": {
                                                "advertiserName": "ClientName1"
                                            }
                                        },
                                        {
                                            "type": "advertiser",
                                            "id": "1352",
                                            "attributes": {
                                                "advertiserName": "ClientName2"
                                            }
                                        },
                                        {
                                            "type": "advertiser",
                                            "id": "73550",
                                            "attributes": {
                                                "advertiserName": "ClientName3"
                                            }
                                        }
                                    ],
                                    "errors": [],
                                    "warnings": []
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": []
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/ad-sets": {
            "patch": {
                "tags": [
                    "Campaign"
                ],
                "description": "Patch a list of AdSets.",
                "operationId": "PatchAdSets",
                "requestBody": {
                    "description": "List of adsets to patch.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestsPatchAdSetV24Q3"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "adSets"
                },
                "responses": {
                    "200": {
                        "description": "List of patched adSets.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesAdSetIdV24Q3"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Manage"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Create the specified ad set",
                "operationId": "CreateAdSet",
                "requestBody": {
                    "description": "the ad sets to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAdSetV24Q3Request"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "adSet"
                },
                "responses": {
                    "201": {
                        "description": "The ad set that has been created and errors / warnings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSetV24Q3"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/ad-sets/{ad-set-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the data for the specified ad set",
                "operationId": "GetAdSet",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "Id of the ad set",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data for the ad set",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponseReadAdSetV24Q3"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/ad-sets/{ad-set-id}/audience": {
            "put": {
                "tags": [
                    "Campaign"
                ],
                "description": "Link or unlink an audience with an ad set",
                "operationId": "UpdateAdSetAudience",
                "parameters": [
                    {
                        "name": "ad-set-id",
                        "in": "path",
                        "description": "The ad set ID.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Ad set-Audience update request.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdSetAudienceLinkInputEntityV1"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/ad-sets/search": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Search your ad sets",
                "operationId": "SearchAdSets",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdSetSearchRequestV24Q3"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "data for the ad sets",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResponsesReadAdSetV24Q3"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/advertisers/{advertiser-id}/ads": {
            "post": {
                "tags": [
                    "Creative"
                ],
                "description": "Create an Ad",
                "operationId": "CreateAdvertiserAd",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "path",
                        "description": "The advertiser identifier.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResourceInputOfAdWrite"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "request"
                },
                "responses": {
                    "201": {
                        "description": "The created Ad is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceOutcomeOfAd"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Creative_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/advertisers/{advertiser-id}/creatives": {
            "get": {
                "tags": [
                    "Creative"
                ],
                "description": "Get the list of self-services Creatives for a given advertiser",
                "operationId": "GetAdvertiserCreatives",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "path",
                        "description": "The advertiser identifier.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of creatives to be returned. The default is 50.",
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The (zero-based) offset into the collection of creatives. The default is 0.",
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The list of self-services Creatives is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceCollectionOutcomeOfCreative"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Creative_Read"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Creative"
                ],
                "description": "Create a Creative",
                "operationId": "CreateAdvertiserCreative",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "path",
                        "description": "The advertiser identifier.",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ResourceInputOfCreativeWrite"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "request"
                },
                "responses": {
                    "201": {
                        "description": "The created creative is returned.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceOutcomeOfCreative"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Creative_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/audience-segments/create": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Creates all segments with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
                "operationId": "CreateAudienceSegments",
                "requestBody": {
                    "description": "Segment creation parameter",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSegmentBulkCreateInputV1"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceSegmentEntityV1ListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Audience_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/audience-segments/in-market-brands": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list with all available in-market brands that can be used to define an in-market segment.",
                "operationId": "GetAudienceSegmentsInMarketBrands",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "query",
                        "description": "The advertiser ID.",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "The ISO 3166-1 alpha-2 country code.",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InMarketAudienceSegmentBrandEntityV1ListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Audience_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/audience-segments/in-market-interests": {
            "get": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list with all available in-market interests that can be used to define an in-market segment. These in-market interests correspond to the Google product taxonomy.",
                "operationId": "GetAudienceSegmentsInMarketInterests",
                "parameters": [
                    {
                        "name": "advertiser-id",
                        "in": "query",
                        "description": "The advertiser ID.",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "The ISO 3166-1 alpha-2 country code.",
                        "required": true,
                        "style": "form",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InMarketAudienceSegmentInterestEntityV1ListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Audience_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/audiences/create": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Creates all audiences with a valid configuration, and returns their IDs. For those that cannot be created, one or multiple errors are returned.",
                "operationId": "CreateAudiences",
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceBulkCreateInputV1"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success or partial success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1ListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Audience_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/audiences/search": {
            "post": {
                "tags": [
                    "Audience"
                ],
                "description": "Returns a list of audiences that match the provided filters. If present, the filters are AND'ed together when applied.",
                "operationId": "SearchAudiences",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of elements to be returned. The default is 50 and the maximum is 100.",
                        "style": "form",
                        "schema": {
                            "maximum": 100,
                            "minimum": 0,
                            "type": "integer",
                            "format": "int32",
                            "default": 50
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The (zero-based) offset into the collection. The default is 0.",
                        "style": "form",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    }
                ],
                "requestBody": {
                    "description": "Audience search filters.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AudienceSearchInputV1"
                            },
                            "example": {
                                "data": {
                                    "type": "search",
                                    "attributes": {
                                        "advertiserIds": [
                                            "123",
                                            "456"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AudienceEntityV1AudienceSearchMetadataV1ListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Audience_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/campaigns": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Create the specified campaign",
                "operationId": "CreateCampaign",
                "requestBody": {
                    "description": "the campaigns to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCampaignRequest"
                            }
                        }
                    },
                    "required": true,
                    "x-bodyName": "marketingCampaign"
                },
                "responses": {
                    "201": {
                        "description": "The campaign that has been created and errors / warnings",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignV23Q1Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Manage"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/campaigns/{campaign-id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "description": "Get the data for the specified campaign",
                "operationId": "GetCampaign",
                "parameters": [
                    {
                        "name": "campaign-id",
                        "in": "path",
                        "description": "Id of the campaign",
                        "required": true,
                        "style": "simple",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "data for the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignV23Q1Response"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/campaigns/search": {
            "post": {
                "tags": [
                    "Campaign"
                ],
                "description": "Search your ad campaigns",
                "operationId": "SearchCampaigns",
                "requestBody": {
                    "description": "filters on campaigns",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CampaignSearchRequestV23Q1"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "data for the campaigns",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CampaignV23Q1ListResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Campaign_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/marketing-solutions/me": {
            "get": {
                "tags": [
                    "Gateway"
                ],
                "description": "Get information about the currently logged application",
                "operationId": "GetCurrentApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationSummaryModelResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": []
                    }
                ]
            }
        },
        "/mcp/recommendation/search": {
            "post": {
                "tags": [
                    "OnSiteRecommendation"
                ],
                "description": "Retrieves a list of products recommended for the given user. This end point can either rely on a Criteo UserId, or a list of user events to perform the recommendation.",
                "operationId": "SearchRecommendedProducts",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnSiteRecoRequest"
                            }
                        }
                    },
                    "x-bodyName": "request"
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnSiteRecoResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_OnSiteRecommendation_Read"
                        ]
                    }
                ]
            }
        },
        "/mcp/statistics/report": {
            "post": {
                "tags": [
                    "Analytics"
                ],
                "description": "The Statistics API allows measurement and reporting on campaigns using the metrics and dimensions you specify.\n# Query\n\n## AdvertiserIds\n\nIf you do not specify any value for advertiserIds, stats for all advertisers in your portfolio will be returned.\nBe worry of requesting too much data.\n\n## Metrics\nMetrics are created with a common structure, such as: SalesAllPc30d\nThe naming follows the following pattern: `[Measurement][Devices][AttributionModel][LookbackWindow]`\n\n### A Note about Audience and Reach with the Category Dimension\nThe algorithm used for merging audience count across categories is non-commutative (by design).\nIt is expected that Audience and Reach metrics produce slightly different results when queried with and without the category dimension.\n",
                "operationId": "GenerateCampaignStatistics",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatisticsReportQueryMessage"
                            },
                            "example": {
                                "advertiserIds": "123,456,789",
                                "dimensions": [
                                    "CampaignId",
                                    "Campaign",
                                    "AdsetId",
                                    "Adset",
                                    "AdvertiserId",
                                    "Advertiser",
                                    "AdId",
                                    "Ad",
                                    "CouponId",
                                    "Coupon",
                                    "CategoryId",
                                    "Category",
                                    "Hour",
                                    "Day",
                                    "Week",
                                    "Month",
                                    "Year",
                                    "Os",
                                    "Device"
                                ],
                                "metrics": [
                                    "Clicks",
                                    "Displays",
                                    "Cpc",
                                    "Visits"
                                ],
                                "currency": "EUR",
                                "startDate": "2025-05-31T00:00:00.0000000+00:00",
                                "endDate": "2025-06-03T00:00:00.0000000+00:00"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "text/csv": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "text/xml": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            },
                            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth": [
                            "MarketingSolutions_Analytics_Read"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Ad": {
                "type": "object",
                "properties": {
                    "adSetId": {
                        "type": "string",
                        "description": "The id of the Ad Set binded to this Ad",
                        "nullable": true
                    },
                    "creativeId": {
                        "type": "string",
                        "description": "The id of the Creative binded to this Ad",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the ad",
                        "nullable": true
                    },
                    "endDate": {
                        "type": "string",
                        "description": "The date when when we will stop to show this ad. If the end date is not specified (i.e. null) then the ad will go on forever\r\nString must be in ISO8601 format",
                        "nullable": true
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier (duplicate of the parent id).",
                        "nullable": true
                    },
                    "inventoryType": {
                        "enum": [
                            "Native",
                            "Display",
                            "Video"
                        ],
                        "type": "string",
                        "description": "The inventory the Ad belongs to. Possible values are \"Display\" and \"Native\". This is optional since this doesn't make sense for every creative type but will throw an error if not set for a dynamic creative.",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the ad",
                        "nullable": true
                    },
                    "startDate": {
                        "type": "string",
                        "description": "The date when the ad will be launched\r\nString must be in ISO8601 format",
                        "nullable": true
                    }
                },
                "description": "An ad is the binding that connects a creative with an ad set",
                "nullable": true
            },
            "AdaptiveAttributes": {
                "required": [
                    "callsToAction",
                    "colors",
                    "descriptionFont",
                    "descriptionText",
                    "headlineFont",
                    "headlineText",
                    "landingPageUrl",
                    "layouts",
                    "logos"
                ],
                "type": "object",
                "properties": {
                    "callsToAction": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A Call-to-Action (CTA) is an action-driven instruction to your audience intended to provoke an immediate\r\nresponse, such as “Buy now” or “Go!”."
                    },
                    "colors": {
                        "$ref": "#/components/schemas/AdaptiveColors"
                    },
                    "descriptionFont": {
                        "type": "string",
                        "description": "Font of the description\r\nValid supported font like \"Arial\"",
                        "nullable": true
                    },
                    "descriptionText": {
                        "type": "string",
                        "description": "The description text of the banner",
                        "nullable": true
                    },
                    "headlineFont": {
                        "type": "string",
                        "description": "Font of the headline\r\nValid supported font like \"Arial\"",
                        "nullable": true
                    },
                    "headlineText": {
                        "type": "string",
                        "description": "The headline text of the banner",
                        "nullable": true
                    },
                    "imageDisplay": {
                        "enum": [
                            "ShowFullImage",
                            "ZoomOnImage"
                        ],
                        "type": "string",
                        "description": "Value can be \"ShowFullImage\" or \"ZoomOnImage\". Choose whether your image set should fit inside the allocated\r\nspace (\"ShowFullImage\") or whether it should fill that space (\"ZoomOnImage\"). If you choose ZoomOnImage, there may be some\r\nimage cropping.",
                        "nullable": true
                    },
                    "imageSets": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ImageSet"
                        },
                        "description": "Multiple image sets, each image set consists of multiple images and a headline text.",
                        "nullable": true
                    },
                    "landingPageUrl": {
                        "type": "string",
                        "description": "Web redirection of the landing page url",
                        "format": "uri"
                    },
                    "layouts": {
                        "type": "array",
                        "items": {
                            "enum": [
                                "Editorial",
                                "Montage",
                                "InBannerVideo"
                            ],
                            "type": "string"
                        },
                        "description": "The Adaptive layouts that are enabled.\r\nIt can contain any of the following values: \"Editorial\", “Montage“, \"InBannerVideo\"."
                    },
                    "logos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ImageShape"
                        },
                        "description": "Logo images uploaded on demostatic.criteo.com when deploying and then static.criteo.net"
                    },
                    "videos": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/VideoDetail"
                        },
                        "description": "Multiple videos potentially in different shapes.",
                        "nullable": true
                    }
                },
                "description": "The attributes specific to Adaptive creatives",
                "nullable": true
            },
            "AdaptiveColors": {
                "required": [
                    "backgroundColor",
                    "ctaBackgroundColor",
                    "ctaTextColor",
                    "logoAreaAndTitleColor",
                    "text1Color",
                    "text2Color"
                ],
                "type": "object",
                "properties": {
                    "backgroundColor": {
                        "type": "string",
                        "description": "Color of the creative's background.\r\nA valid RGB24 color in hexadecimal (e.g. \"AB00FF\")"
                    },
                    "ctaBackgroundColor": {
                        "type": "string",
                        "description": "Color of the background of the CTA.\r\nA valid RGB24 color in hexadecimal (e.g. \"AB00FF\")."
                    },
                    "ctaTextColor": {
                        "type": "string",
                        "description": "Color of the text of the CTA.\r\nA valid RGB24 color in hexadecimal (e.g. \"AB00FF\")."
                    },
                    "logoAreaAndTitleColor": {
                        "type": "string",
                        "description": "Color of the creative's logo area.\r\nA valid RGB24 color in hexadecimal (e.g. \"AB00FF\")."
                    },
                    "text1Color": {
                        "type": "string",
                        "description": "Color of the headline and the description texts.\r\nA valid RGB24 color in hexadecimal (e.g. \"AB00FF\")"
                    },
                    "text2Color": {
                        "type": "string",
                        "description": "Color of the image set's headline text.\r\nA valid RGB24 color in hexadecimal (e.g. \"AB00FF\")"
                    }
                },
                "description": "Entity consists of the color aliases of the creative's elements"
            },
            "AdaptiveWriteAttributes": {
                "required": [
                    "callsToAction",
                    "colors",
                    "descriptionFont",
                    "descriptionText",
                    "headlineFont",
                    "headlineText",
                    "landingPageUrl",
                    "layouts",
                    "logoBase64String"
                ],
                "type": "object",
                "properties": {
                    "callsToAction": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "A Call-to-Action (CTA) is an action-driven instruction to your audience intended to provoke an immediate\r\nresponse, such as “Buy now” or “Go!”."
                    },
                    "colors": {
                        "$ref": "#/components/schemas/AdaptiveColors"
                    },
                    "descriptionFont": {
                        "type": "string",
                        "description": "Font of the description\r\nValid supported font like \"Arial\""
                    },
                    "descriptionText": {
                        "type": "string",
                        "description": "The description text of the banner"
                    },
                    "headlineFont": {
                        "type": "string",
                        "description": "Font of the headline\r\nValid supported font like \"Arial\""
                    },
                    "headlineText": {
                        "type": "string",
                        "description": "The headline text of the banner"
                    },
                    "imageDisplay": {
                        "enum": [
                            "ShowFullImage",
                            "ZoomOnImage"
                        ],
                        "type": "string",
                        "description": "Value can be \"ShowFullImage\" or \"ZoomOnImage\". Choose whether your image set should fit inside the allocated\r\nspace (\"ShowFullImage\") or whether it should fill that space (\"ZoomOnImage\"). If you choose ZoomOnImage, there may be some\r\nimage cropping.",
                        "nullable": true
                    },
                    "imageSetsBase64": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ImageSetBase64"
                        },
                        "description": "Multiple image sets, each image set consists of multiple images as a base-64 encoded string and a headline text.",
                        "nullable": true
                    },
                    "landingPageUrl": {
                        "type": "string",
                        "description": "Web redirection of the landing page url.",
                        "format": "uri"
                    },
                    "layouts": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "enum": [
                                "Editorial",
                                "Montage",
                                "InBannerVideo"
                            ],
                            "type": "string"
                        },
                        "description": "The Adaptive layouts that are enabled.\r\nIt can contain any of the following values: \"Editorial\", “Montage“, \"InBannerVideo\"."
                    },
                    "logoBase64String": {
                        "type": "string",
                        "description": "Logo image as a base-64 encoded string"
                    },
                    "videoBase64Strings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Multiple videos potentially in different shapes, each video is a base-64 encoded string.",
                        "nullable": true
                    }
                },
                "description": "The attributes specific to create or update an Adaptive creative"
            },
            "AdSetAudienceLinkEntityV1": {
                "type": "object",
                "properties": {
                    "audienceId": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "Link Audience with an ad set",
                "nullable": true,
                "x-criteo-canonical": {
                    "infoType": "entity",
                    "name": "AdSetAudience",
                    "version": "v1"
                }
            },
            "AdSetAudienceLinkEntityV1Resource": {
                "type": "object",
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1"
                    },
                    "id": {
                        "type": "string",
                        "description": "Id of the entity",
                        "nullable": true
                    },
                    "type": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "A class that represents a domain entity exposed by an API",
                "nullable": true
            },
            "AdSetAudienceLinkEntityV1Response": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Resource"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for a single entity"
            },
            "AdSetAudienceLinkInputEntityV1": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AdSetAudienceLinkEntityV1Resource"
                    }
                },
                "description": "Input to set audience ad set link."
            },
            "AdSetDeliveryLimitationsV24Q3": {
                "type": "object",
                "properties": {
                    "devices": {
                        "type": "array",
                        "items": {
                            "enum": [
                                "other",
                                "desktop",
                                "mobile",
                                "tablet"
                            ],
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "environments": {
                        "type": "array",
                        "items": {
                            "enum": [
                                "web",
                                "inApp"
                            ],
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "operatingSystems": {
                        "type": "array",
                        "items": {
                            "enum": [
                                "android",
                                "ios",
                                "unknown"
                            ],
                            "type": "string"
                        },
                        "nullable": true
                    }
                },
                "description": "ad set delivery limitations model",
                "nullable": true
            },
            "AdSetFrequencyCappingV24Q3": {
                "type": "object",
                "properties": {
                    "frequency": {
                        "enum": [
                            "hourly",
                            "daily",
                            "lifetime",
                            "advanced"
                        ],
                        "type": "string",
                        "nullable": true
                    },
                    "maximumImpressions": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    }
                },
                "description": "ad set frequency capping model",
                "nullable": true
            },
            "AdSetGeoLocationV24Q3": {
                "type": "object",
                "properties": {
                    "countries": {
                        "$ref": "#/components/schemas/NillableAdSetTargetingRuleV24Q3"
                    },
                    "subdivisions": {
                        "$ref": "#/components/schemas/NillableAdSetTargetingRuleV24Q3"
                    },
                    "zipCodes": {
                        "$ref": "#/components/schemas/NillableAdSetTargetingRuleV24Q3"
                    }
                },
                "description": "ad set geolocation model",
                "nullable": true
            },
            "AdSetIdV24Q3": {
                "type": "object",
                "description": "ad set id model",
                "nullable": true
            },
            "AdSetSearchFilterV24Q3": {
                "type": "object",
                "properties": {
                    "adSetIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "advertiserIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "campaignIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    }
                },
                "description": "filter on ad set ids"
            },
            "AdSetSearchRequestV24Q3": {
                "type": "object",
                "properties": {
                    "filters": {
                        "$ref": "#/components/schemas/AdSetSearchFilterV24Q3"
                    }
                },
                "description": "request payload of the search endpoint"
            },
            "AdSetTargetingRuleV24Q3": {
                "type": "object",
                "properties": {
                    "operand": {
                        "enum": [
                            "undefined",
                            "in",
                            "notIn"
                        ],
                        "type": "string"
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    }
                },
                "description": "ad set targeting rule model"
            },
            "AdSetTargetingV24Q3": {
                "type": "object",
                "properties": {
                    "deliveryLimitations": {
                        "$ref": "#/components/schemas/AdSetDeliveryLimitationsV24Q3"
                    },
                    "frequencyCapping": {
                        "type": "object",
                        "properties": {
                            "value": {
                                "$ref": "#/components/schemas/AdSetFrequencyCappingV24Q3"
                            }
                        },
                        "nullable": true
                    },
                    "geoLocation": {
                        "$ref": "#/components/schemas/AdSetGeoLocationV24Q3"
                    }
                },
                "description": "ad set targeting model",
                "nullable": true
            },
            "AdWrite": {
                "required": [
                    "adSetId",
                    "creativeId",
                    "name",
                    "startDate"
                ],
                "type": "object",
                "properties": {
                    "adSetId": {
                        "type": "string",
                        "description": "The id of the Ad Set bound to this Ad"
                    },
                    "creativeId": {
                        "type": "string",
                        "description": "The id of the Creative bound to this Ad"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the ad",
                        "nullable": true
                    },
                    "endDate": {
                        "type": "string",
                        "description": "The date when when we will stop to show this ad. If the end date is not specified (i.e. null) then the ad will go on forever\r\nString must be in ISO8601 format",
                        "nullable": true
                    },
                    "inventoryType": {
                        "enum": [
                            "Display",
                            "Native"
                        ],
                        "type": "string",
                        "description": "The inventory the Ad to be created or updated belongs to. Possible values are \"Display\" and \"Native\". This is optional since this doesn't make sense for every creative type but will throw an error if not set for a dynamic creative.",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "description": "The name of the ad"
                    },
                    "startDate": {
                        "type": "string",
                        "description": "The date when the ad will be launched\r\nString must be in ISO8601 format"
                    }
                },
                "description": "Entity to create or update an ad"
            },
            "AlgebraNodeV1": {
                "type": "object",
                "properties": {
                    "and": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AlgebraNodeV1"
                        },
                        "nullable": true
                    },
                    "audienceSegmentId": {
                        "type": "string",
                        "nullable": true
                    },
                    "not": {
                        "$ref": "#/components/schemas/AlgebraNodeV1"
                    },
                    "or": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AlgebraNodeV1"
                        },
                        "nullable": true
                    }
                },
                "description": "Node in the audience algebra definition.",
                "nullable": true
            },
            "ApplicationSummaryModel": {
                "type": "object",
                "properties": {
                    "applicationId": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    },
                    "criteoService": {
                        "type": "string",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "organizationId": {
                        "type": "integer",
                        "format": "int32",
                        "nullable": true
                    }
                },
                "description": "Used for the /me endpoint. Contains information about the currently authenticated application that we accept to give to our clients",
                "nullable": true
            },
            "ApplicationSummaryModelResource": {
                "type": "object",
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/ApplicationSummaryModel"
                    },
                    "type": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for a single value",
                "nullable": true
            },
            "ApplicationSummaryModelResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/ApplicationSummaryModelResource"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for a single value"
            },
            "AudienceBulkCreateInputV1": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudienceCreateEntityV1Resource"
                        }
                    }
                },
                "description": "Input to create one or more audiences."
            },
            "AudienceCreateEntityV1": {
                "required": [
                    "advertiserId",
                    "algebra",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "advertiserId": {
                        "type": "string",
                        "description": "Advertiser associated to the audience"
                    },
                    "algebra": {
                        "$ref": "#/components/schemas/AlgebraNodeV1"
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the audience"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the audience"
                    }
                },
                "description": "Audience of people of interest for a marketer."
            },
            "AudienceCreateEntityV1Resource": {
                "type": "object",
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/AudienceCreateEntityV1"
                    },
                    "type": {
                        "type": "string"
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for a single value"
            },
            "AudienceEntityV1": {
                "type": "object",
                "properties": {
                    "adSetIds": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Ad sets associated to the audience",
                        "nullable": true
                    },
                    "advertiserId": {
                        "type": "string",
                        "description": "Advertiser associated to the audience",
                        "nullable": true
                    },
                    "algebra": {
                        "$ref": "#/components/schemas/AlgebraNodeV1"
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "ISO-8601 timestamp in UTC of audience creation (read-only)",
                        "format": "date-time",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the audience",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the audience",
                        "nullable": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "ISO-8601 timestamp in UTC of audience update (read-only)",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "description": "Audience of people of interest for a marketer.",
                "nullable": true,
                "x-criteo-canonical": {
                    "infoType": "entity",
                    "name": "Audience",
                    "version": "v1"
                }
            },
            "AudienceEntityV1AudienceSearchMetadataV1ListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudienceEntityV1Resource"
                        },
                        "nullable": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "meta": {
                        "$ref": "#/components/schemas/AudienceSearchMetadataV1"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for several entities and metadata"
            },
            "AudienceEntityV1ListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudienceEntityV1Resource"
                        },
                        "nullable": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for several entities"
            },
            "AudienceEntityV1Resource": {
                "type": "object",
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/AudienceEntityV1"
                    },
                    "id": {
                        "type": "string",
                        "description": "Id of the entity",
                        "nullable": true
                    },
                    "type": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "A class that represents a domain entity exposed by an API"
            },
            "AudienceSearchEntityV1": {
                "type": "object",
                "properties": {
                    "adSetIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of AdSet ids"
                    },
                    "advertiserIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of advertiser ids"
                    },
                    "audienceIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of audience ids"
                    },
                    "audienceSegmentIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "List of segment ids (linked to the result audiences)"
                    }
                },
                "description": "Available filters to perform a search on segments. If present, the filters are AND'ed together when applied."
            },
            "AudienceSearchEntityV1Resource": {
                "type": "object",
                "required": [
                    "attributes",
                    "type"
                ],
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/AudienceSearchEntityV1"
                    },
                    "type": {
                        "type": "string"
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for a single value"
            },
            "AudienceSearchInputV1": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AudienceSearchEntityV1Resource"
                    }
                },
                "description": "Audience search parameter"
            },
            "AudienceSearchMetadataV1": {
                "type": "object",
                "properties": {
                    "limit": {
                        "type": "integer",
                        "description": "Max item of the current page",
                        "format": "int32",
                        "nullable": true
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Number of item to skip",
                        "format": "int32",
                        "nullable": true
                    },
                    "totalItems": {
                        "type": "integer",
                        "description": "Total number of items",
                        "format": "int32",
                        "nullable": true
                    }
                },
                "description": "Metadata for the audience search response.",
                "nullable": true
            },
            "AudienceSegmentBulkCreateInputV1": {
                "type": "object",
                "required": [
                    "data"
                ],
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudienceSegmentCreateEntityV1Resource"
                        }
                    }
                },
                "description": "Input to create one or more audience segments."
            },
            "AudienceSegmentCreateEntityV1": {
                "required": [
                    "advertiserId",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "advertiserId": {
                        "type": "string",
                        "description": "Advertiser associated to the segment"
                    },
                    "contactList": {
                        "$ref": "#/components/schemas/ContactListCreateV1"
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the segment"
                    },
                    "inMarket": {
                        "$ref": "#/components/schemas/InMarketCreateV1"
                    },
                    "location": {
                        "$ref": "#/components/schemas/LocationCreateV1"
                    },
                    "lookalike": {
                        "$ref": "#/components/schemas/LookalikeCreateV1"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the segment"
                    },
                    "prospecting": {
                        "$ref": "#/components/schemas/ProspectingCreateV1"
                    },
                    "retargeting": {
                        "$ref": "#/components/schemas/RetargetingCreateV1"
                    }
                },
                "description": "Set of rules that defines specific people to target."
            },
            "AudienceSegmentCreateEntityV1Resource": {
                "type": "object",
                "required": [
                    "attributes",
                    "type"
                ],
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/AudienceSegmentCreateEntityV1"
                    },
                    "type": {
                        "type": "string"
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for a single value"
            },
            "AudienceSegmentEntityV1": {
                "type": "object",
                "properties": {
                    "advertiserId": {
                        "type": "string",
                        "description": "Advertiser associated to the segment",
                        "nullable": true
                    },
                    "behavioral": {
                        "$ref": "#/components/schemas/BehavioralV1"
                    },
                    "contactList": {
                        "$ref": "#/components/schemas/ContactListV1"
                    },
                    "createdAt": {
                        "type": "string",
                        "description": "ISO-8601 timestamp in UTC of segment creation (read-only)",
                        "format": "date-time",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "description": "Description of the segment",
                        "nullable": true
                    },
                    "inMarket": {
                        "$ref": "#/components/schemas/InMarketV1"
                    },
                    "location": {
                        "$ref": "#/components/schemas/LocationV1"
                    },
                    "lookalike": {
                        "$ref": "#/components/schemas/LookalikeV1"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the segment",
                        "nullable": true
                    },
                    "prospecting": {
                        "$ref": "#/components/schemas/ProspectingV1"
                    },
                    "retargeting": {
                        "$ref": "#/components/schemas/RetargetingV1"
                    },
                    "type": {
                        "enum": [
                            "Unknown",
                            "InMarket",
                            "Prospecting",
                            "ContactList",
                            "Location",
                            "Behavioral",
                            "Retargeting",
                            "Lookalike"
                        ],
                        "type": "string",
                        "description": "Type of segment (read-only)",
                        "nullable": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "description": "ISO-8601 timestamp in UTC of segment update (read-only)",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "description": "Set of rules that defines specific people to target.",
                "nullable": true,
                "x-criteo-canonical": {
                    "infoType": "entity",
                    "name": "AudienceSegment",
                    "version": "v1"
                }
            },
            "AudienceSegmentEntityV1ListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AudienceSegmentEntityV1Resource"
                        },
                        "nullable": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "A top-level object that encapsulates a Criteo API response for several entities"
            },
            "AudienceSegmentEntityV1Resource": {
                "type": "object",
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/AudienceSegmentEntityV1"
                    },
                    "id": {
                        "type": "string",
                        "description": "Id of the entity",
                        "nullable": true
                    },
                    "type": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "A class that represents a domain entity exposed by an API"
            },
            "AutomatedBudgetConfigurationV23Q1": {
                "type": "object",
                "properties": {
                    "adSetOptimizationObjective": {
                        "enum": [
                            "conversions",
                            "revenue",
                            "visits",
                            "videoViews"
                        ],
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "The automated budget configuration model",
                "nullable": true
            },
            "BehavioralV1": {
                "required": [
                    "category"
                ],
                "type": "object",
                "properties": {
                    "category": {
                        "enum": [
                            "Unknown",
                            "Lifestyles",
                            "LifeEvents",
                            "Seasonal",
                            "BuyingPatterns"
                        ],
                        "type": "string",
                        "description": "The type of behavioral"
                    },
                    "country": {
                        "type": "string",
                        "description": "The users' country",
                        "nullable": true
                    },
                    "endDate": {
                        "type": "string",
                        "description": "Desired date when the behavioral will end",
                        "format": "date-time",
                        "nullable": true
                    },
                    "startDate": {
                        "type": "string",
                        "description": "Desired date when the behavioral will start",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "description": "Settings of a behavioral set of users provided by Criteo.",
                "nullable": true
            },
            "BudgetAutomation": {
                "type": "object",
                "properties": {
                    "budgetConfiguration": {
                        "$ref": "#/components/schemas/BudgetAutomationConfiguration"
                    },
                    "enabled": {
                        "type": "boolean"
                    }
                },
                "description": "The campaign budget automation model"
            },
            "BudgetAutomationConfiguration": {
                "type": "object",
                "properties": {
                    "adSetObjectives": {
                        "enum": [
                            "conversions",
                            "revenue",
                            "visits",
                            "videoViews"
                        ],
                        "type": "string"
                    }
                },
                "description": "The budget automation configuration model",
                "nullable": true
            },
            "CampaignBudgetAutomationV23Q1": {
                "type": "object",
                "properties": {
                    "automatedBudgetConfiguration": {
                        "$ref": "#/components/schemas/AutomatedBudgetConfigurationV23Q1"
                    },
                    "enabled": {
                        "type": "boolean",
                        "nullable": true
                    }
                },
                "description": "The campaign budget automation model",
                "nullable": true
            },
            "CampaignSearchFiltersV23Q1": {
                "type": "object",
                "properties": {
                    "advertiserIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    },
                    "campaignIds": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "nullable": true
                    }
                },
                "description": "filters on campaign"
            },
            "CampaignSearchRequestV23Q1": {
                "type": "object",
                "properties": {
                    "filters": {
                        "$ref": "#/components/schemas/CampaignSearchFiltersV23Q1"
                    }
                },
                "description": "request payload of the search endpoint"
            },
            "CampaignSpendLimitV23Q1": {
                "type": "object",
                "properties": {
                    "spendLimitAmount": {
                        "$ref": "#/components/schemas/NillableDecimal"
                    },
                    "spendLimitRenewal": {
                        "enum": [
                            "undefined",
                            "daily",
                            "monthly",
                            "lifetime"
                        ],
                        "type": "string",
                        "nullable": true
                    },
                    "spendLimitType": {
                        "enum": [
                            "capped",
                            "uncapped"
                        ],
                        "type": "string",
                        "nullable": true
                    }
                },
                "description": "campaign spend limit model",
                "nullable": true
            },
            "CampaignV23Q1": {
                "type": "object",
                "properties": {
                    "advertiserId": {
                        "type": "string",
                        "nullable": true
                    },
                    "budgetAutomation": {
                        "$ref": "#/components/schemas/CampaignBudgetAutomationV23Q1"
                    },
                    "goal": {
                        "enum": [
                            "unspecified",
                            "acquisition",
                            "retention"
                        ],
                        "type": "string",
                        "nullable": true
                    },
                    "id": {
                        "type": "string",
                        "description": "Id of the entity (duplicate of the parent id).",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "nullable": true
                    },
                    "spendLimit": {
                        "$ref": "#/components/schemas/CampaignSpendLimitV23Q1"
                    }
                },
                "description": "campaign read model",
                "nullable": true
            },
            "CampaignV23Q1ListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CampaignV23Q1Resource"
                        },
                        "nullable": true
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "Data model for a list of response resources"
            },
            "CampaignV23Q1Resource": {
                "type": "object",
                "properties": {
                    "attributes": {
                        "$ref": "#/components/schemas/CampaignV23Q1"
                    },
                    "id": {
                        "type": "string",
                        "description": "Id of the entity",
                        "nullable": true
                    },
                    "type": {
                        "type": "string",
                        "description": "Canonical type name of the entity",
                        "nullable": true,
                        "example": "Campaign"
                    }
                },
                "description": "Data model for a Resource",
                "nullable": true
            },
            "CampaignV23Q1Response": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/CampaignV23Q1Resource"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CommonProblem"
                        },
                        "nullable": true,
                        "readOnly": true
                    }
                },
                "description": "Data model for response resource"
            },
            "CommonProblem": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "A machine-readable error code, expressed as a string value.",
                        "nullable": true
                    },
                    "detail": {
                        "type": "string",
                        "description": "A human-readable explanation specific to this occurrence of the problem",
                        "nullable": true
                    },
                    "instance": {
                        "type": "string",
                        "description": "A URI that identifies the specific occurrence of the problem.",
                        "nullable": true
                    },
                    "source": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "A machine-readable structure to reference to the exact location(s) causing the error(s)",
                        "nullable": true
                    },
                    "stackTrace": {
                        "type": "string",
                        "nullable": true
                    },
                    "title": {
                        "type": "string",
                        "description": "A short human-readable description of the problem type",
                        "nullable": true
                    },
                    "traceId": {
                        "type": "string",
                        "description": "The request correlation ID this problem comes from.",
                        "nullable": true
                    },
                    "traceIdentifier": {
                        "type": "string",
                        "description": "The request correlation ID this problem comes from. (deprecated, use traceId instead)",
                        "nullable": true
                    },
                    "type": {
                        "enum": [
                            "unknown",
                            "access-control",
                            "authentication",
                            "authorization",
                            "availability",
                            "deprecation",
                            "quota",
                            "validation"
                        ],
                        "type": "string",
                        "description": "The problem's category.",
                        "nullable": true
                    }
                },
                "description": "Common problem object."
            },
            "ContactListCreateV1": {
                "type": "object",
                "description": "Settings to target users with your contact lists."
            },
            "ContactListV1": {
                "type": "object",
                "properties": {
                    "isReadOnly": {
                        "type": "boolean",
                        "description": "Is the segment read-only",
                        "nullable": true
                    }
                },
                "description": "Settings to target users with your contact lists.",
                "nullable": true
            },
            "CreateAdSetAttributionConfigurationV24Q3": {
                "type": "object",
                "properties": {
                    "attributionMethod": {
                        "enum": [
                            "unknown",
                            "criteoAttribution",
                            "googleAnalyticsLastClick",
                            "googleAnalyticsDataDriven",
                            "lastClick",
                            "postClick"
                        ],
                        "type": "string",
                        "description": "The attribution method."
                    },
                    "lookbackWindow": {
                        "enum": [
                            "unknown",
                            "30M",
                            "24H",
                            "7D",
                            "30D"
                        ],
                        "type": "string",
                        "description": "The lookback window. Optional, should be specified only for attribution methods PostClick and LastClick.",
                        "nullable": true
                    }
                },
                "description": "Create model for an ad set's attribution configuration."
            },
            "CreateAdSetBiddingV24Q3": {
                "required": [
                    "costController"
                ],
                "type": "object",
                "properties": {
                    "bidAmount": {
                        "type": "number",
                        "description": "Decimal value target relating to the `bidStrategy` specified. May be `null` for strategies that do not require a target value. At most 4 decimals are supported. Additional decimals are rounded.",
                        "format": "double",
                        "nullable": true
                    },
[...]
